---
import Frame from "../Frame/Frame.astro"
import "./HeroSection.styles.css"
import { DESCRIPTIONS, HERO_IMAGES } from "@/consts/index"
---

<section id="hero" class="flex flex-col gap-20 py-6 px-2 md:px-4 lg:pb-[100px] lg:px-[80px] lg:pt-[50px]">
  <div class="hero-content flex flex-col md:flex-row gap-4 md:gap-6 lg:gap-40 items-center justify-center">
    <img
      src="/images/hero/hero-text.svg"
      alt="imagen de la página"
      class="w-full md:w-2/5 lg:w-1/2"
    />
    <div>
      <h1 class="text-l-heavy-tall-small uppercase">
        ¿Qué es la amistad?
      </h1>
      {
        DESCRIPTIONS.map((description) => (
          <p class="text-l-regular-small">{description}</p>
        ))
      }
    </div>
  </div>
  <div class="hidden lg:flex gap-20">
    {
      HERO_IMAGES.map((image) => (
        <Frame
          dimensions={{
            with: image.frameWidth,
            heigth: image.frameHeight,
          }}
          rotation={image.rotation}
          bg={image.bg}
        >
          <img src={image.image} alt={image.alt} class={`${image.imgWidth} ${image.imgHeight} object-cover`} />
        </Frame>
      ))
    }
  </div>
</section>
