---
interface IFrameProps {
  dimensions: {
    width: number
    height: number
  }
  bg?: string
  rotation?: number
  padding: {
    top?: string
    bottom?: string
    lateral?: string
  }
  className?: string
}

const props = Astro.props as IFrameProps

const {
  dimensions,
  bg = "bg-white",
  rotation = 0,
  padding = { top: "pt-4", bottom: "pb-5", lateral: "px-4" },
  className,
} = props
---

<div
  style={`transform: rotate(${rotation}deg)`}
  class={`frameContainer ${dimensions.width} ${dimensions.height} ${bg} ${padding.lateral} ${padding.top} ${padding.bottom} ${className}`}
>
  <slot />
</div>
