---
interface IFrameProps {
  image?: string
  dimensions: {
    width: number
    height: number
  }
  text?: string
  bg?: string
  rotation?: number
  padding: {
    top?: string
    bottom?: string
    lateral?: string
  }
}

const props = Astro.props as IFrameProps

const {
  image,
  dimensions,
  text,
  bg = "bg-white",
  rotation = 0,
  padding = { top: "pt-4", bottom: "pb-5", lateral: "px-4" },
} = props
---

<div
  style={`transform: rotate(${rotation}deg);`}
  class={`frameContainer ${dimensions.width} ${dimensions.height} ${bg} ${padding.lateral} ${padding.top} ${padding.bottom}`}
>
  <img class="w-full h-full object-cover" src={image} alt={text} />
  {text}
</div>
